<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         version="2.5" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                
                             http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <!-- Servlets -->
  
  <!-- get  + /products          -> products list -->
  <!-- post + /products          -> add product to list -->
  
  <!-- get  + /products/new      -> create a new product -->
  
  <!-- get  + /products/99       -> edit product 99 -->
  <!-- post + /products/99?method=delete -> delete product 99 -->
  <!-- post + /products/99       -> modify for edition product 99 -->
  
  
  <servlet>
    <servlet-name>product_edition</servlet-name>
    <servlet-class>pgu.ProductServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>product_new</servlet-name>
    <servlet-class>pgu.ProductServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>products</servlet-name>
    <servlet-class>pgu.ProductsServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>products</servlet-name>
    <url-pattern>/products</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>product_new</servlet-name>
    <url-pattern>/products/new</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>product_edition</servlet-name>
    <url-pattern>/products/*</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

    <error-page>
        <error-code>400</error-code>
        <location>/error_400.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error_404.jsp</location>
    </error-page>

</web-app>